<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="linkdirective.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css">
    <title>Custom Directive with Isolate Scope and '&'</title>
  </head>
  <body ng-app="ShoppingListApp">
    <h1>Custom Directive with Isolate Scope and '&'</h1>

    <!-- List1 unlimited items -->
    <div ng-controller="ShoppingListController as list">
      <input type="text" ng-model="list.itemName" placeholder="Item Name">
      <input type="text" ng-model="list.itemQuantity" placeholder="Quantity">
      <button ng-click="list.addItem();">Add Item to Shopping List</button>
      <span>{{ list.lastRemoved }}</span>

      <shopping-list
        items="list.items"
        title="{{ list.title }}"
        bad-remove="list.removeItem"
        on-remove="list.removeItem(index)"></shopping-list>
    </div>

  </body>
</html>
