<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="promise.js" charset="utf-8"></script>
    <title>AngularJS Promise</title>
  </head>
  <body ng-app="ShoppingListPromiseApp">
    <h1>AngularJS Promise</h1>

    <div ng-controller="ShoppingListController as list">
      <h3>Shopping list</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      boxes
      <button ng-click="list.addItem()">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity }} boxes of {{ item.name }}
          <button ng-click="list.removeItem()">Remove Item</button>
        </li>
      </ol>
    </div>
  </body>
</html>
