<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="repeat.js" charset="utf-8"></script>
    <title>Angular Repeat</title>
  </head>
  <body ng-app="repeatApp">
    <h1>Angular Repeat</h1>
    <div ng-controller="repeatAppController">
      <input type="text" ng-model="numbers[0]">
      <ul>
        <li ng-repeat=" items in numbers">{{items}}</li>
      </ul>
      <input type="text" ng-model="new"><br>
      <button ng-click="addToList()">Add to list</button>
    </div>
  </body>
</html>
