<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="watcher.js" charset="utf-8"></script>
    <title>AngularJS Watchers</title>
  </head>
  <body ng-app="watcherApp">
    <h1>Digest Cycle/ Watchers</h1>
    <div ng-controller="watcherAppController">
      <input type="text" ng-model="name"><br>
      <button ng-click="numberofwatchers()"># of watchers</button><br>
      <button ng-click="countOnce()">count once</button><br>
      <button ng-click="upCounter()">counter</button><br>
      <div>
        Once counter: {{onceCounter}}<br>
        Counter: {{counter}}
      </div>
    </div>
  </body>
</html>
